{% extends 'stats/base.html' %}
{% block content %}  

<section>
    <div>
        <h1 class="title is-1 has-text-primary">{{datos.modelo}}</h1>
    </div>
    <div>
        <table class="table is-bordered is-striped is-narrow is-hoverable">
            <thead class="subtitle is-3">
                <th class="has-text-link">
                    ALMACEN/TALLA
                </th>
                {% for y in almacentj %}
                <th class="has-text-link">
                {{y.0}}
                </th>
                {% endfor %}
            </thead>
            <tbody>
                <tr>
                    <td>
                        Almacen Tijuana
                    </td>
                    {% for x in almacentj %}
                    <td>
                        {{x.1}}
                    </td>
                    {% endfor %}
                </tr>
                
            </tbody>
        </table>
    </div>
</section>
{% endblock %}