{% extends 'stats/base.html' %}
{% block content %}    
<div class="section">
    <div class="columns">     
      <main class="column">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="title">Bienvenido {{ user.username }}</div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <button type="button" class="button is-small">
                {{ now }}
              </button>
            </div>
          </div>
        </div>
        
        <div class="columns is-multiline">
          <div class="column">
            <div class="box">
              <div class="heading">Venta al momento</div>
              <div class="title">${{ venta.0 }}</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">Transacciones</div>
                    <div class="title is-5">{{ totaltransacciones }}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Ticket promedio</div>
                    <div class="title is-5">$ {{ ticket }}</div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">Venta en mes</div>
              <div class="title">$ {{ ventames.0 }}</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">AA</div>
                    <div class="title is-5">$ {{ ventamesaa.0 }}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Dif $</div>
                    <div class="title is-5">$ {{ diferencia }}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Dif %</div>
                    <div class="title is-5">{{ diferenciap }}%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>       
        </div>
        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Dia anterior
              </p>
              <div class="panel-block">
                       <table class="table is-fullwidth is-bordered is-striped is-narrow">
                           <thead class="subtitle is-5">
                               <th class="has-text-black">
                                   NOMBRE
                               </th>
                               <th class="has-text-black">
                                       VENTA
                                   </th>
                           </thead>
                           <tbody>
                               {% for x in ventas %}
                               <tr>
                                   <td>
                                       {{x.0}}
                                   </td>
                                   <td>
                                       $ {{x.4}}
                                   </td> 
                               </tr>
                               {% endfor %}
                           </tbody>
                           <tfoot>
                               <th>
                                   Total
                               </th>
                               <th>
                                   $ {{ total }}
                               </th>
                           </tfoot>
                       </table>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Mejores Articulos
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  Mejores Articulos
                </figure>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
    {% endblock %}