{% extends 'stats/base.html' %}
{% load static %}

{% block content %}    
<div class="section">
    <div class="columns">     
      <main class="column">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="title">Bienvenido {{ user.username }}</div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <button type="button" class="button is-small">
                {{ now }}
              </button>
            </div>
          </div>
        </div>
        
        <div class="columns is-multiline">
          <div class="column">
            <div class="box">
              <div class="heading">Venta al momento</div>
              <div class="title">${{ venta.0 }}</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">Transacciones</div>
                    <div class="title is-5">{{ totaltransacciones }}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Ticket promedio</div>
                    <div class="title is-5">$ {{ ticket }}</div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">Venta en mes</div>
              <div class="title">$ {{ ventames.0 }}</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">AA</div>
                    <div class="title is-5">$ {{ ventamesaa.0 }}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Dif $</div>
                    <div class="title is-5">$ {{ diferencia }}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Dif %</div>
                    <div class="title is-5">{{ diferenciap }}%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>       
        </div>
        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Dia anterior
              </p>
              <div class="panel-block">
                       <table class="table is-fullwidth is-bordered is-striped is-narrow">
                           <thead class="subtitle is-5">
                               <th class="has-text-black">
                                   NOMBRE
                               </th>
                               <th class="has-text-black">
                                       VENTA
                                   </th>
                           </thead>
                           <tbody>
                               {% for x in ventas %}
                               <tr>
                                   <td>
                                       {{x.0}}
                                   </td>
                                   <td>
                                       $ {{x.4}}
                                   </td> 
                               </tr>
                               {% endfor %}
                           </tbody>
                           <tfoot>
                               <th>
                                   Total
                               </th>
                               <th>
                                   $ {{ total }}
                               </th>
                           </tfoot>
                       </table>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Mejores Tiendas
              </p>
              <div class="panel-block">
                
                <figure class="highcharts-figure">
                  <div id="container"></div>
                  
                </figure>
                  
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <script type="application/javascript">
    Highcharts.chart('container', {
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: 'Dia anterior'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      accessibility: {
        point: {
          valueSuffix: '%'
        }
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
          }
        }
      },
      series: [{
        name: 'Tiendas',
        colorByPoint: true,
        data: [{
          name: '{{ventas.0.0}}',
          y: {{ventas.0.4}}
        }, {
          name: '{{ventas.1.0}}',
          y: {{ventas.1.4}}
        }, {
          name: '{{ventas.2.0}}',
          y: {{ventas.2.4}}
        }, {
          name: '{{ventas.3.0}}',
          y: {{ventas.3.4}}
        }, {
          name: '{{ventas.4.0}}',
          y: {{ventas.4.4}}
        }, {
          name: '{{ventas.5.0}}',
          y: {{ventas.5.4}}
        }, {
          name: '{{ventas.6.0}}',
          y: {{ventas.6.4}}
        }, {
          name: '{{ventas.7.0}}',
          y: {{ventas.7.4}}
        }, {
          name: '{{ventas.8.0}}',
          y: {{ventas.8.4}}
        }, {
          name: '{{ventas.9.0}}',
          y: {{ventas.9.4}}
        }, {
          name: '{{ventas.10.0}}',
          y: {{ventas.10.4}}
        }, {
          name: '{{ventas.11.0}}',
          y: {{ventas.11.4}}
        }, {
          name: '{{ventas.12.0}}',
          y: {{ventas.12.4}}
        }, {
          name: '{{ventas.13.0}}',
          y: {{ventas.13.4}}
        }]
      }]
    });
    
  </script>
    {% endblock %}