{% extends 'stats/base.html' %}
{% block content %}  
<script src="../../static/js/modal.js"></script>

<section>

    <div id="image-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <img src="http://sfan.ddns.net:2090/SF/{{modelo}}.jpg" alt="{{modelo}}">
          </p>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <hr>

    <div>
        <h1 class="title is-1 has-text-black">{{modelo}}</h1>
    </div>
    <hr>
    
    <div class="columns">
        <div class="column is-four-fifths">
            <table class="table is-fullwidth is-bordered is-narrow is-hoverable">
                <thead class="subtitle is-5">
                    <th class="has-text-white has-background-black">
                        ALMACEN/TALLA
                    </th>
                    {% for y in talla %}
                    <th class="has-text-white has-background-black">
                    {{y}}
                    </th>
                    {% endfor %}
                </thead>
                <tbody class="has-background-grey-lighter">
                    <tr>
                        <td>
                            Almacen Tijuana
                        </td>
                        {% for x in almacentj %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Rio3
                        </td>
                        {% for x in rio3 %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Macroplaza
                        </td>
                        {% for x in macroplaza %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Macroplaza 2
                        </td>
                        {% for x in macroplaza2 %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Galerias
                        </td>
                        {% for x in galerias %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Palmas
                        </td>
                        {% for x in palmas %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Senderos 1
                        </td>
                        {% for x in senderos1 %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Senderos 2
                        </td>
                        {% for x in senderos2 %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Ensenada 1
                        </td>
                        {% for x in ensenada1 %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Ensenada 2
                        </td>
                        {% for x in ensenada2 %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            Ensenada 3
                        </td>
                        {% for x in ensenada3 %}
                        <td>
                            {{x.1|floatformat:"0"}}
                        </td>
                        {% endfor %}
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="column">
            <figure class="image is-128x128">
                <button class="js-modal-trigger" data-target="image-modal">
                    <img class="is-rounded" src="http://sfan.ddns.net:2090/SF/{{modelo}}.jpg">
                </button>
                </a>
            </figure>
        </div>
    </div>

</section>
{% endblock %}