{% extends 'stats/base.html' %}
{% block content %}    
<section class="has-text-centered">
       <h1 class="title is-1 has-text-black">{{fecha}}</h1>
       <div class="columns is-centered">
            <table class="table is-bordered is-striped is-narrow is-hoverable">
                <thead class="subtitle is-3">
                    <th class="has-text-black">
                        NOMBRE
                    </th>
                    <th class="has-text-black">
                            VENTA
                        </th>
                </thead>
                <tbody>
                    {% for x in ventas %}
                    <tr>
                        <td>
                            {{x.0}}
                        </td>
                        <td>
                            $ {{x.4}}
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <th>
                        Total
                    </th>
                    <th>
                        $ {{ total }}
                    </th>
                </tfoot>
            </table>
        </div>
    </section>
    {% endblock %}